body {
    margin: 0;
    background-color: #00bf63;
  }
  
  #start-btn {
    background-color: rgb(105, 56, 24);
    color: white;
    padding: 20px;
    font-size: 40px;
    border-radius: 10px;
    font-weight: bolder;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-bottom: 15px;
    box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 0.8);
  }
  #start-btn:hover{
    background-color: black;
    font-style: italic;
    cursor: pointer;
    box-shadow: none;
  }

  #restart-btn {
    background-color: rgb(105, 56, 24);
    color: white;
    padding: 20px;
    font-size: 40px;
    margin-top: 40px;
    border-radius: 10px;
    font-weight: bolder;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-bottom: 15px;
    box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 0.8);
  }
  #restart-btn:hover{
    background-color: black;
    font-style: italic;
    cursor: pointer;
    box-shadow: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #game-box {
    background-color: darkgray;
    width:1300px;
    height:700px;
  
    position: relative; /* permite posicionar los elementos de forma absoluta dentro del game-box */
    overflow: hidden; /* previene que los elementos salgan visualmente del game-box */
    user-select: none; /* previene que los elementos del game-box sean resaltados al hacer click */
  
    background-image: url("../images/FondoJuego.gif");
    background-position: center;
    background-size: cover;
    margin: 100px;

    border-style: solid;
    border-width: 3px;
    border-color: black;
    /*********/
  }
  
  #game-box * {
    pointer-events: none; /* previene que todos los elementos del game-box sean arrastrados al clickar sobre ellos */
  }
  
  
  #game-screen, #game-over-screen, #victory-screen{
    display: none;
  }

  #game-over-screen, #victory-screen{
    margin: 100px;
  }

  #beast-health {
    width: 100%;
    background-color: #ddd;
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: black;
    margin-bottom: 20px;
}

#health-remaining {
    height: 30px;
    background-color: red;
    width: 1300px;
}

#archer-health {
  width: 300px;
  background-color: #ddd;
  overflow: hidden;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  margin-left: 20px;
}

#archer-health-remaining {
  height: 30px;
  background-color: green;
  width: 300px;
}

#minutes {
  font-size: 2em;
  margin-left: 20px;
  font-size: 2rem;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
}

#seconds {
  font-size: 2em;
  font-size: 2rem;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
}

#colon {
  font-size: 2em;
  font-size: 2rem;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
}

#best-times-title{
  color: black;
  background-color: rgb(197, 197, 159);
  padding: 0px 7px 0px 7px;
  font-size: 3rem;
  font-weight: bolder;
  font-family:'Courier New', Courier, monospace;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;
  margin: 10% 0% 10% 0%;
}

p{
  font-family:'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: bolder;
  background-color: white;
  padding: 0px 10px 0px 10px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 4px;
  margin: 0% 0% 5% 0%;
  text-align: center;
}

#tableTimes{
  background-color: rgb(143, 73, 26);
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;
  padding: 0% 2% 2% 2%;
}

#arrows-left{
  color: brown;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  font-size: 2rem;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
  margin-left: 20px;
  padding: 0% 0.5% 0% 0.5%;
}